body, nav, footer{
    color: #eeeeee;
    font-family: 'IBM Plex Sans', sans-serif;
}
nav {
    background-color: #393e46;
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    background-color: #222831;
}
footer {
    background-color: #393e46;
    height: 4%;  /* footer height */
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
.content-wrapper {
    height: 96%;
}
.avatar-size {
    width: 200px;
    height: 200px;
}

.rect1{
    background-color: #ffc93c;
}
.rect2{
    background-color: #27496d;
}
.rect3{
    background-color: #07689f;
}
.ball1{
    background-color: #21bf73;
}
.ball2{
    background-color: #c70039;
}