body, nav, p, footer{
    color: #eeeeee;
    font-family: 'IBM Plex Sans', sans-serif;
}
nav {
    background-color: #393e46;
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    background-color: #aaaaaa;
    margin-left: 5%;
    margin-right: 5%;
}
footer {
    background-color: #393e46;
    height: 4%;  /* footer height */
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
.content-wrapper {
    height: 96%;
    background-color: #eeeeee;
}
.avatar-size {
    width: 200px;
    height: 200px;
}
.hoverLink:hover{
    color: #ffd369;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -5%;
  }

.rect1{
    margin-top: -8rem;
    width: 12rem;
    height: 12rem;
    opacity: 0.5;
}
.rect2{
    margin-top: -11rem;
    width: 10rem;
    height: 10rem;
    opacity: 0.5;
}
.rect3{
    margin-top: -10rem;
    width: 8rem;
    height: 8rem;
    opacity: 0.5;
}