canvas {
    padding: 0;
    margin: 0;
    display: block;
    width: 408px;
    height: 460px;
}

/* Every rule not marked by "required" is optional and used only to decorate the example */
.block {
    margin: 10px 50px;
    display: flex; /* required */
    flex-flow: row nowrap; /* required */
}
.block .background,
.block .foreground {
    box-sizing: border-box; /* required */
    width: 100%; /* required */
    flex: none; /* required */
}
.block .foreground {
    padding: 15px;
    margin-left: -100%; /* required */
}
.block .foreground .outside {
    position: absolute;
    top: 5px;
    left: 8px;
}

.gui-wrapper{
    text-align: center;
    display: grid;
    width: 100%;
}
.gui-element{
    z-index: 20;
    margin-top: 100px;
    align-self: center;
    justify-self: center;
    color: #222831;
    font-family: Tahoma, sans-serif;
}